body {
    font-family: Arial, sans-serif;
    background-color: #15181F;
    display: flex;
    justify-content: center;
    align-items: top; 
    margin: 10px;
}


.voltar{
    margin-top: 30px;
}

.voltar button{
    font-size: 13px;
    width: 90px;
    height: auto;
    background-color: #ff5722; /* Cor de fundo do botão */
    color: white;
    border-radius: 35px;
    cursor: pointer;
    border: none; /* Remove borda */
    cursor: pointer; /* Indica que é clicável */
    padding: 7px 14px; /* Ajuste o padding conforme necessário */
}
.container {
    background: white;
    padding: 30px;
    max-width: 700px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}
.perfil-header {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
}
.perfil-header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #007bff;
}
.info, .configuracoes, .historico, .criadas, .campanhas {
    margin-top: 20px;
    padding: 15px;
    background: #f9f9f9;
    border-radius: 8px;
}
h3 {
    color: #333;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background: #fff;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.modal-content a {
    width: 10%;
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}